<h1>Robots#index</h1>

<ul>
  <% @robots.each do |robot| %>
    <li>
      <%= link_to robot.name, robot_path(robot[:id]) %>
      <%= robot.description %>
      <%= robot.price %>
    </li>
  <% end %>
</ul>