<h1>Robots#show</h1>
<p>Find me in app/views/robots/show.html.erb</p>
<p>
  <strong>name:</strong>
  <%= @robot.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @robot.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @robot.price %>
</p>